* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
body {
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

a {
    color: #333;
}

input,
select:focus {
    outline: 0;
}

.header {
    background: #607D8B;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    color: #fff;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header h2 {
    font-weight: 400;
    line-height: 1;
    padding-top: 5px;
}

.content {
    margin: 0 auto;
    max-width: 700px;
    min-height: 96vh;
    padding-top: 50px;
}

.filter-wrapper {
    display: block;
    margin: 7px 0;
    padding-left: 10px;
}

.filter-wrapper select {
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-bottom: 2px solid #607D8B;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: 1.375em;
    min-width: 30px;
    vertical-align: text-bottom;
    cursor: pointer;
    height: 28px;
}
.filter-wrapper select:hover{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.filter-wrapper select:focus{
    background-color: initial;
}
.filter-wrapper select.bus-select {
    font-weight: 500;
    padding-left: 5px;
}

.filter-wrapper select.stop-select {
    font-size: 1.2em;
    padding-left: 0;
}

.filter-wrapper .route {
    display: block;
    opacity: 0.7;
    padding-top: 5px;
}

.time-table {
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.05);
    cursor: default;
    width: 100%;
}

.time-table tr {
    -webkit-animation: fade-in .3s forwards;
    animation: fade-in .3s forwards;
    background: #fff;
}

.time-table tr:nth-child(even) {
    background: #ECEFF1;
}

.time-table th,
.time-table td {
    display: inline-block;
    line-height: 25px;
    min-height: 25px;
    min-width: 30px;
}

.time-table th {
    border-right: 1px solid #CFD8DC;
    padding-right: 3px;
    text-align: right;
    font-weight: 500;
}

.time-table td {
    font-weight: 300;
    padding: 0 0.2em;
    text-align: center;
}
.time-table .special {
    background-color: #FFF59D;
}

footer {
    font-size: .75em;
    height: 4vh;
    line-height: 4vh;
    width: 100%;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@media screen and (max-width: 400px) {
    .header h2 {
        font-size: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }
    .filter-wrapper .stop-select {
        max-width: 80%;
    }
    .time-table{
        font-size: 1.1em;
    }
}
