<!DOCTYPE html>
<html>
<head>
    <title>Kedbus Tvarkaraštis</title>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Kedbus tvarkaraštis">
    <meta name="apple-mobile-web-app-title" content="Kedbus tvarkaraštis">
    <meta name="theme-color" content="#607D8B">
    <meta name="msapplication-navbutton-color" content="#607D8B">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="192x192" href="img/bus.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="img/bus.png">

    <link rel="stylesheet" href="css/style.css" async>
    <script src = "lib/angular.min.js"></script>

</head>
<body>
    <div ng-app="timeTable" ng-controller="ngCtrl">
        <header class="header">
            <h2>{{appName}}</h2>
            <nav class="side-nav">

            </nav>
        </header>
        <main class="content">
            <section class="filter-wrapper">
                <select class="bus-select" ng-model="selectedNr" ng-options="y.nr for (x,y) in busData">
                  <option value="">Nr.</option>
                </select>
                <select class="stop-select" ng-model="selectedStop" ng-options="z.stopName for (x,z) in selectedNr.stops">
                  <option value="">Stotelė :</option>
                </select>
                <br>
                <span class="route">{{selectedNr.route}}</span>
            </section>
            <table class="time-table">
                <tr ng-repeat="time in selectedStop.time">
                    <th>{{time.hour}}</th>
                    <td ng-repeat="minute in time.minutes">{{minute}}</td>
                </tr>
            </table>
        </main>
        <footer>
            &copy; <script type="text/javascript">var cur = 2016; var year = new Date(); if(cur == year.getFullYear()) year = year.getFullYear(); else year = cur + ' - ' + year.getFullYear(); document.write(year);</script> by <a href="">Mantas Puidokas</a>
        </footer>
    </div>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('./sw.js')
            .then(function (reg) {console.log('Successfully registered service worker', reg);})
            .catch(function (err) {console.warn('Error whilst registering service worker', err);});
        }

        /*global angular */
        var app = angular.module("timeTable", []);

        app.controller("ngCtrl", function ($scope, $http) {
            "use strict";
            //Global App strings
            $scope.appName = "Autobusų tvarkaraštis";
            $scope.h_busNo = "Autobuso Nr.: ";
            $scope.h_stopName = "Stotelė : ";

            //Get JSON Data
            $http.get("busData.json").then(function (response) {
                $scope.busData = response.data;
            });
        });
    </script>
</body>
</html>
