
<!DOCTYPE html>
<html>
<head>
    <title>Kedbus Tvarkaraštis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#607D8B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

</head>
<body>
    <div ng-app="timeTable" ng-controller="ngCtrl">
        <header class="header">
            <h2>{{appName}}</h2>
            <i class="material-icons hamburger-nav">&#xE5D2;</i>
            <nav class="side-nav">

            </nav>
        </header>
        <main class="content">
            <section class="filter-wrapper">
                <h4 class="bus-select">{{h_busNo}} <span><select ng-model="selectedNr" ng-options="y.nr for (x,y) in busData"></select></span></h4>
                <h4 class="stop-select">{{h_stopName}}<span><select ng-model="selectedStop" ng-options="z.stopName for (x,z) in selectedNr.stops"></select></span></h4>
                <br>
                <span class="route">{{selectedNr.route}}</span>
            </section>
            <table class="time-table">
                <tr ng-repeat="time in selectedStop.time">
                    <th>{{time.hour}}</th>
                    <td ng-repeat="minute in time.minutes">{{minute}}</td>
                </tr>
            </table>
        </main>
        <footer>
            &copy; 2016 by <a href="">Mantas Puidokas</a>
        </footer>
    </div>
    <script src="mainController.js"></script>
</body>
</html>
